<div
  class="fixed bottom-6 text-light text-opacity-70 text-xs left-1/2 -translate-x-1/2"
>
  Author
  <a href="https://www.github.com/ozgursagiroglu" class="text-light">Özgür
    Sağıroğlu</a>
</div>