<div class="text-center space-y-6">
  <p class="text-sm">This page built with Handlebars</p>
  <h1 class="text-4xl xl:text-6xl font-bold">Static Website Boilerplate</h1>
  <h2 class="text-lg">
    Boilerplate to build static websites with Handlebars, TailwindCSS and
    Webpack.
  </h2>
  <ul
    class="leading-6 text-sm xl:leading-10 xl:text-base text-light text-opacity-70"
  >
    <li>
      Build HTML pages with
      <span class="text-light">Handlebars</span>,
      <span class="text-light">EJS</span>
      or just as a HTML
    </li>
    <li>
      CSS, SCSS or
      <span class="text-light">Tailwind CSS</span>
      support added for styling
    </li>
    <li>
      Hot Reload Dev Server
    </li>
    <li>
      Prettier & ESLint Configuration
    </li>
    <li>
      PWA Supported
    </li>
  </ul>
</div>